{# empty Twig template #}
{% extends "base.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-content-center">
                    <h3 class="h4">List of Truck 
                        {% if owner is defined and owner is not null %}
                            Owned by {{owner.getFullName()}}
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body">{% if owner is defined and owner is not null %}
                    [<a href = "{{path('listtruck')}}" >All Trucks</a>] [<a href = "{{path('listtruckowner')}}">All Trucks Owners</a>] <br /><br />
                    {% endif %}
                        <div class='listdiv'>
                            <table class="table table-striped table-sm table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th><th>Truck Number</th><th>Driver Name</th><th>Status</th><th>Actions</th>                                
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for truck in trucks %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{truck.truckNumber}}</td>
                                            <td>{{truck.driverName}}</td>
                                            <td>{{truck.truckStatus}}</td>
                                            <td><button data-id='{{truck.id}}' class="statusbtn btn btn-primary btn-sm">{{truck.truckStatus=="active"?"Deactivate":"Activate"}}</button> <button data-id='{{truck.id}}' class="delbtn btn btn-danger btn-sm">Delete</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}
            {% block js %}  
                <script type='text/javascript'>
                    var loadinghtml = "<span class='icon ion-android-sync del-loading'></span>";
                    $(document).on("click", ".statusbtn", function (event) {
                        dis = $(this);
                        var txt = dis.text();
                        dis.html(loadinghtml);
                        dis.addClass("disabled");
                        $.ajax({
                            url: '{{path('change_truck_status', {'truckid':'0'})}}' + dis.attr('data-id'),
                            method: 'POST'
                        }).done(function (data) {
                            dis.removeClass("disabled");
                            //alert("here");
                            if (data == "error_1") {//Loading data not found
                                alert("Truck not found.");
                                dis.text(txt);
                            } else if (data == "error_3") {// Server error
                                alert("Server error.");
                                dis.text(txt);
                            } else {
                                if (txt == "Activate") {
                                    dis.text("Deactivate");
                                } else {
                                    dis.text("Activate");
                                }
                            }
                        });
                    });
                    
                    $(document).on("click", ".delbtn", function (event) {
                        dis = $(this);
                        var txt = dis.text();
                        dis.html(loadinghtml);
                        dis.addClass("disabled");
                        $.ajax({
                            url: '{{path('del_truck', {'truckid':'0'})}}' + dis.attr('data-id'),
                            method: 'POST'
                        }).done(function (data) {
                            dis.removeClass("disabled");
                            //alert("here");
                            if (data == "error_1") {//Loading data not found
                                alert("Truck not found.");
                                dis.text(txt);
                            } else if (data == "error_4") {// Server error
                                alert("One or more records is associated with this truck.");
                                dis.text(txt);
                            } else if (data == "error_3") {// Server error
                                alert("Server error.");
                                dis.text(txt);
                            } else {
                               document.location='{{path('listtruck')}}';
                            }
                        });
                    });
                </script>
            {% endblock js %} 