{# empty Twig template #}
{% extends "base.html.twig" %}

{% block corelinks %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('vendor/jqueryscript/jquery.datetimepicker.min.css')}}">
{% endblock corelinks %}

{% block content %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header d-flex align-content-center">
                    <h3 class="h4">Modify Existing Order</h3>
                </div>
                <div class="card-body">
                    {% for flash_message in app.flashes('modificationsuccess') %}
                        <div class="alert alert-success" role="alert">
                            {{ flash_message }} <br />
                            [<a href="{{path('listorder')}}">All Orders</a>] [<a href="{{path('vieworder', {'orderid':orderid})}}">View Record</a>]
                        </div>
                    {% endfor %}
                    {{form(form, {'attr': {'novalidate': 'novalidate'}})}}
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>

    </div>
{% endblock content %}
{% block corescripts %}
    {{ parent()}}
    <script src="{{asset('vendor/jqueryscript/jquery.datetimepicker.full.min.js')}}"></script>
{% endblock corescripts %}
{% block js %}
    <script type='text/javascript'>
        $("#order_locationname").parent().hide();


        $(document).on("click", "#order_fromstation_0", function (event) {
            if ($(this).prop("checked")) {
                $("#order_locationname").parent().show();
                $("#order_deliveryLocation").val("").parent().hide();
            } else {
                $("#order_locationname").val("").parent().hide();
                $("#order_deliveryLocation").parent().show();
            }
        });

        $(document).on("change", "#order_locationname", function (event) {
            $("#order_deliveryLocation").val($("#order_locationname option:selected").attr("data-station"));


        });
        $(document).on("change", "#transaction_order", function (event) {
            $("#transaction_amountPaid").val($("#transaction_order option:selected").attr("data-amtdue"));
        });
        var dt = new Date().setDate(new Date().getDate() - 20);
        $(".date").datetimepicker({
            format: 'Y-m-d H:i:s',
            formatTime: 'H:i',
            formatDate: 'Y-m-d',
            step: 10,
            monthChangeSpinner: true,
            closeOnDateSelect: true,
            closeOnWithoutClick: true,
            closeOnInputClick: true,
            timepicker: true,
            datepicker: true,
            defaultTime: false, // use formatTime format (ex. '10:00' for formatTime: 'H:i')
            defaultDate: false, // use formatDate format (ex new Date() or '1986/12/08' or '-1970/01/05' or '-1970/01/05')
            maxDate: new Date(),
            yearStart: new Date().getFullYear() - 1,
            yearEnd: new Date().getFullYear()
        });

    </script>
{% endblock js %}

